<section>
  <h2>Crie sua propria sala</h2>
  <form action="/create-room" method="post">
    <label class="sr-only" for="room-pass"> Insira uma senha </label>
    <input
      type="password"
      placeholder="Insira uma senha"
      name="password"
      id="room-pass"
    />
    <button type="submit">
      <img src="assets/users-white.svg" alt="" />
      Criar sala
    </button>
  </form>
</section>
